:root {
    /* Colors */
    --color-primary: #0e68ef;
    --color-hover: #d3d6da;
    --color-seconday:#AAAAAAFF;
    --color-seconday2: #d3d6da;
    --color-white: #ffffff;

    /* Spacing */
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-xxl:12rem;
    --space-xxxl: 12.5rem;
    --space-xxxxl: 20rem;
    --space-xxxxxl: 50rem;


    /* Typography */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxlg: 2rem;
}