.headerCtnr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.0rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
}

.logo {
}

.logoText {
    font-weight: bold;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%
}

a {
    color: inherit;
    text-decoration: none;
    /*margin-left: 600px;*/
}
.active {
    font-weight: bold;
    color: var(--color-primary);
}
