.headerCtnr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.0rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
}


.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%
}

a {
    color: inherit;
    text-decoration: none;
}

.active {
    font-weight: bold;
    color: var(--color-primary);
}
